  /* Definición de la animación de fundido de entrada */
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Aplicación de la animación a la clase */
  .animate-fade-in {
    animation: fade-in 0.5s ease-out forwards;
  }

  @property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
  }

  @keyframes border {
    to {
      --border-angle: 360deg;
    }
  }

  .animate-border {
    animation: border 4s linear infinite;
  }


  @keyframes revealLeft {
    from {
      opacity: 0;
      translate: -100px 0;
    }
    to {
      opacity: 1;
      translate: 0 0;
    }
  }

  @keyframes revealRight {
    from {
      opacity: 0;
      translate: 100px 0;
    }
    to {
      opacity: 1;
      translate: 0 0;
    }
  }

  .revealLeft {
    animation-name: revealLeft;
  }

  .revealRight {
    animation-name: revealRight;
  }

  .project-container {
    transition: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 50% cover 45%;
  }


