  /* Definición de la animación de fundido de entrada */
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Aplicación de la animación a la clase */
  .animate-fade-in {
    animation: fade-in 0.5s ease-out forwards;
  }

  @property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
  }

  @keyframes border {
    to {
      --border-angle: 360deg;
    }
  }

  .animate-border {
    animation: border 4s linear infinite;
  }


  @keyframes reveal {
    from {
      opacity: 0;
      translate: -100px 0;
    }

    to {
      opacity: 1;
      translate: 0 0;
    }
  }


  .project-container {
    transition: 0.5s;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 45%;
  }

  .btn-video {
    background: rgba(110, 105, 207, 0.3);
  }

  .btn-preview {
    background: rgba(13, 178, 187, 0.3);
  }

  .btn-github {
    background: rgba(0,0,0,0.3);
  }
