.bubble {
  border-radius: 50%;
  /* Hace que el borde forme una burbuja (50% del ancho y la altura) */
  text-align: center;
  /* Centra el contenido dentro de la burbuja */
  line-height: 60px;
  /* Alinea verticalmente el contenido */
  color: #fff;
  /* Color del texto dentro de la burbuja */
  font-size: 18px;
  /* TamaÃ±o del texto */
  font-weight: bold;
  /* Estilo de fuente en negrita */
  background: rgb(49 102 196 / 43%);
  background: radial-gradient(circle,
      rgb(49 102 196 / 43%) 58%,
      rgba(254, 254, 254, 1) 100%);
  animation: bubble-animation 4s ease-in-out infinite;
  z-index: 2;
    width: 150px;
    height: 150px;
    transition: 0.5s;
}

.bubble:hover {
  width: 250px;
  height: 250px;
  transition: 0.8s;
}

@keyframes bubble-animation {
  0% {
    border-radius: 56% 44% 42% 58%/51% 55% 45% 49%;
  }

  25% {
    border-radius: 41% 59% 36% 64%/61% 55% 45% 39%;
  }

  50% {
    border-radius: 59% 41% 53% 47%/46% 48% 52% 54%;
  }

  75% {
    border-radius: 49% 51% 38% 62%/58% 51% 49% 42%;
  }

  to {
    border-radius: 56% 44% 42% 58%/51% 55% 45% 49%;
  }
}

.info-position {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 3px solid;
  animation: typing 3s steps(23) infinite alternate, blink .5s infinite step-end alternate;
  overflow: hidden;

}

@keyframes typing {
  0% {
    width: 0;
  }
  60% {
    width: 22.4ch;
  }
  100% {
    width: 22.4ch;
  }
}

@keyframes blink {
  50% { border-color: transparent;}
}
