.bubble {
  border-radius: 50%; /* Hace que el borde forme una burbuja (50% del ancho y la altura) */
  text-align: center; /* Centra el contenido dentro de la burbuja */
  line-height: 60px; /* Alinea verticalmente el contenido */
  color: #fff; /* Color del texto dentro de la burbuja */
  font-size: 18px; /* TamaÃ±o del texto */
  font-weight: bold; /* Estilo de fuente en negrita */
  background: rgb(49 102 196 / 43%);
  transition: all 0.5s linear 0s;
  background: radial-gradient(
    circle,
    rgb(49 102 196 / 43%) 58%,
    rgba(254, 254, 254, 1) 100%
  );
}

.fish {
  width: 150px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  transform-origin: center;
  font-size: 40px;
  left: calc(50% - 100px);
  top: calc(50% - 50px);
  /* animation: nadar 5s linear infinite; */
  /*transition: transform 0.2s;  AÃ±ade una transiciÃ³n suave */
}