.bubble {
  /* width: 250px;
  height: 250px; */
  border-radius: 50%;
  background: transparent; /* quitamos fondo para hacerlo en overlay */
  animation: bubble-animation 4s ease-in-out infinite;
  transition: 0.5s;
  z-index: 2;
}

.bubble-overlay {
  background: rgb(49 102 196 / 43%);
  background: radial-gradient(circle,
      rgb(49 102 196 / 43%) 58%,
      rgba(254, 254, 254, 1) 100%);
  animation: bubble-animation 4s ease-in-out infinite;
}

.bubble-overlay-icons {
  background: rgb(49 102 196 / 20%);
  background: radial-gradient(circle,
      rgba(49, 103, 196, 0.295) 18%,
      rgba(254, 254, 254, 0.2) 100%);
  animation: bubble-animation 4s ease-in-out infinite;
}

.img-me-bubble {
  animation: bubble-animation 4s ease-in-out infinite;
  -webkit-box-shadow: 5px 5px 40px 30px rgba(139,139,139,0.7), inset 0px 0px 0px 46px rgba(139,139,139,0.64);
  box-shadow: 5px 5px 40px 30px rgba(139,139,139,0.7), inset 0px 0px 0px 46px rgba(139,139,139,0.64);
}



/* .img-bubble-me {
  animation: bubble-animation 4s ease-in-out infinite;
} */


/* .bubble:hover {
  width: 250px;
  height: 250px;
  transition: 0.8s;
} */

@keyframes bubble-animation {
  0% {
    border-radius: 56% 44% 42% 58%/51% 55% 45% 49%;
  }

  25% {
    border-radius: 41% 59% 36% 64%/61% 55% 45% 39%;
  }

  50% {
    border-radius: 59% 41% 53% 47%/46% 48% 52% 54%;
  }

  75% {
    border-radius: 49% 51% 38% 62%/58% 51% 49% 42%;
  }

  to {
    border-radius: 56% 44% 42% 58%/51% 55% 45% 49%;
  }
}

.info-position {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 3px solid;
  animation: typing 3s steps(23) infinite alternate, blink .5s infinite step-end alternate;
  overflow: hidden;

}

@keyframes typing {
  0% {
    width: 0;
  }
  60% {
    width: 22.4ch;
  }
  100% {
    width: 22.4ch;
  }
}

@keyframes blink {
  50% { border-color: transparent;}
}
