
@if (config()) {
  <core-home-section [personalData]="config()!.personalData" [description]="config()!.portfolio.home"></core-home-section>
  <core-layout-section sectionTitle="Sobre mí" sectionId="sobre-mi">
    <core-about-me-section [aboutMe]="config()!.portfolio.aboutMe"></core-about-me-section>
  </core-layout-section>
  <core-layout-section sectionTitle="Proyectos" sectionId="proyectos">
    <core-projects-section [projects]="config()!.projects"></core-projects-section>
  </core-layout-section>
  <core-layout-section sectionTitle="Tecnologías" sectionId="tecnologias">
    <core-technologies-section [skills]="config()!.skills"></core-technologies-section>
  </core-layout-section>
  <core-layout-section sectionTitle="Certificados" sectionId="certificados">
    <core-certificates [certificates]="config()!.certificates"></core-certificates>
  </core-layout-section>
  <core-footer [personalData]="config()!.personalData"></core-footer>
}

<!--
  https://pagedone.io/docs/hover-effect
  https://pagedone.io/docs/buttons

  https://tailwindcss.com/docs/dark-mode
  https://tailwindcss.com/plus/ui-blocks/marketing/elements/headers
  https://leomoreno.vercel.app/#inicio
  https://www.tailawesome.com/resources/astro-boilerplate
  https://www.reyesrondon.dev/es
  https://portfolio-ulises-castro.vercel.app/#Proyectos
  https://pagedone.io/icons
  https://mezcalito.vercel.app/
-->
