<footer class="">
    <hr class="border-gray-700 sm:mx-auto lg:mt-1">
    <div class="mx-auto w-full max-w-screen-xl">

        <div class="px-4 py-6 md:flex md:items-center md:justify-between ">

            <span class="text-sm text-gray-500 dark:text-gray-300 sm:text-center">
                {{ fullName() }}
            </span>
            <div class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse">
              <!-- <span class="text-gray-400 hover:text-white"></span> -->
                @let classes = "text-gray-400 hover:text-white";
                <core-social-icon [personalData]="personalData()" icon="github" [classes]="classes"></core-social-icon>
                <core-social-icon [personalData]="personalData()" icon="linkedin" [classes]="classes"></core-social-icon>
                <core-social-icon [personalData]="personalData()" icon="email" [classes]="classes"></core-social-icon>
            </div>
        </div>
    </div>
</footer>
